<!DOCTYPE html>
<html>
<head>
    <title>Get Location Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            $(document).ready(function() {
                    let token = localStorage.getItem("Authorization");

                    $.ajax({
                        url: "/members/location",
                        type: "GET",
                        headers: {'Content-Type': 'application/json', 'Authorization': token},
                        success: function(response) {
                            $("#location").text(response.cityName + ", " + response.weatherStatus + ", " + response.temperature+"℃");
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
            });

    </script>
</head>
<body>
<div id="location"></div>




<!--게시판 영역-->
<button id="talk" onclick="location.href='/post/talk'">잡담</button>
<button id="lodging" onclick="location.href='/post/lodging'">숙소</button>
<button id="food" onclick="location.href='/post/food'">음식</button>
<button id="hotplace" onclick="location.href='/post/hotplace'">핫플</button>
<button id="traffic" onclick="location.href='/post/traffic'">교통</button>

<br>
<!--채팅방 영역-->
<!--<button id="talkchat" onclick="location.href='/post/talk'">잡담</button>
<button id="lodgingchat" onclick="location.href='/post/lodging'">숙소</button>
<button id="foodchat" onclick="location.href='/post/food'">음식</button>
<button id="hotplacechat" onclick="location.href='/post/hotplace'">핫플</button>
<button id="trafficchat" onclick="location.href='/post/traffic'">교통</button>-->
</body>
</html>
