<!DOCTYPE html>
<html>
<head>
    <title>Get Location Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            $(document).ready(function() {
                    let token = localStorage.getItem("Authorization");

                    $.ajax({
                        url: "/posts",
                        type: "POST",
                        headers: {'Content-Type': 'application/json', 'Authorization': token},

                        <!-- ajax요청 데이터를 JSON 형태로 보내고 있기에 아래 코드의 데이터를 수신 못함!
                        data : {postType : "food"},-->

                        data : JSON.stringify({postType : "FOOD"}),
                        success: function(response) {
                            $("#location").text(response);
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
            });

    </script>
</head>
<body>
<div id="location"></div>
음식

</body>
</html>
