<!DOCTYPE html>
<html>
<head>
    <title>Get Location Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            $(document).ready(function() {
                    let token = localStorage.getItem("Authorization");

                    $.ajax({
                        url: "/posts",
                        type: "GET",
                        headers: {'Content-Type': 'application/json', 'Authorization': token},
                        success: function(response) {
                            $("#location").text(response);
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
            });

    </script>
</head>
<body>
<div id="location"></div>
음식

</body>
</html>
