<!DOCTYPE html>
<html>
<head>
    <title>Get Location Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
           $(document).ready(function() {
                    let token = localStorage.getItem("Authorization");


                    $.ajax({
                        url: "/posts",
                        type: "GET",
                        headers: {'Content-Type': 'application/json', 'Authorization': token},
                        success: function(response) {

                            console.log(response);

                            for( let i = 0; i< response.data.length; i++) {
                                let post = response.data[i];

                                let postId = post.postId;
                                let title = post.title;
                                let userName = post.userName;
                                let likeNum = post.likeNum;
                                let commentNum = post.commentNum;
                                let cityName = post.cityName;
                                let createdAt = post.createdAt;

                            let tmpPosts =

                                `<tr>
                                    <td><a href="/posts/${postId}">${i+1}</a>></td>
                                    <td><a href="/posts/${postId}">${title}</a>></td>
                                    <td>${userName}</td>
                                    <td>${likeNum}</td>
                                    <td>${commentNum}</td>
                                    <td>${createdAt}</td>
                                </tr>`


                            $("#posts").append(tmpPosts);
                            $("#category").text(cityName + "게시판");
                        }
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
            });

    </script>
</head>
<body>
<div id="location"></div>
음식

</body>
</html>
