<!DOCTYPE html>
<html>
<head>
    <title>Get Location Example</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            $(document).ready(function() {
                    let token = localStorage.getItem("Authorization");

                    $.ajax({
                        url: "/posts",
                        type: "GET",
                        headers: {'Content-Type': 'application/json', 'Authorization': token},
                        data : {postType : "HOTPLACE"},
                        success: function(response) {

                            for( let i = 0; i< response.data.length; i++) {
                                let post = response.data[i];

                                let postId = post.postId;
                                let title = post.title;
                                let userName = post.userName;
                                let likeNum = post.likeNum;
                                let commentNum = post.commentNum;
                                let createdAt = post.createdAt.slice(0,10) + ' ' + post.createdAt.slice(11,16) ;

                            let tmpPosts =

                                `<tr>
                                    <td><a href="/posts/view/${postId}">${i+1}</a></td>
                                    <td><a href="/posts/view/${postId}">${title}</a></td>
                                    <td>${userName}</td>
                                    <td>${likeNum}</td>
                                    <td>${commentNum}</td>
                                    <td>${createdAt}</td>
                                </tr>`


                            $("#posts").append(tmpPosts);
                        }
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
            });


    </script>
</head>
<body>
<div>
    <button onclick="location.href='/pom'">돌아가기</button>
</div>
<h1 id = "category">핫플 게시판</h1>
<table class = "table table-striped">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>좋아요</th>
        <th>댓글</th>
        <th>작성일자</th>
    </tr>
    </thead>
    <tbody id = "posts">

    </tbody>
</table>
<button type="button" onclick="location.href='/posts/create/HOTPLACE'">글 작성</button>
</body>
</html>
